<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>FrontEnd</title>
</head>
<body>
<form action="/calculate" method="POST">
<label>Enter Student Name:</label>
<input type="text" name="name"/>
<label>Enter Marks for Subject1:</label>
<input type="text" name="sub1"/>
<label>Enter Marks for Subject2:</label>
<input type="text" name="sub2"/>
<label>Enter Marks for Subject3:</label>
<input type="text" name="sub3"/>
<label>Enter Marks for Subject4:</label>
<input type="text" name="sub4"/>
<label>Enter Marks for Subject5:</label>
<input type="text" name="sub5"/>

<input type="submit" value="Calculate Percentage"/>
</form>

</body>
</html>